pandas==2.2.2
pyjwt==2.8.0
simplejson==3.19.2
pydotplus==2.0.2
requests==2.32.2
pydantic==2.7.1
rdkit==2023.9.6
mordredcommunity==2.0.5 # Used as a replacement of mordred descriptors. Handles descriptor generation errors
scikit-learn==1.5.0
tqdm==4.66.4
kennard-stone==2.2.1
mendeleev==0.16.2
pymatgen==2024.5.1
skl2onnx==1.16.0
onnx == 1.16.1
onnxruntime==1.18.0
httpx==0.27.0
attrs==23.2.0
python-keycloak==4.3.0
ruff==0.6.3
polling2==0.5.0
python-dotenv==1.0.1
# Torch requirements
torch==2.3.0
torch-geometric==2.5.0
torchvision==0.18.0
-f https://data.pyg.org/whl/torch-2.3.0+cpu.html
torch-sparse==0.6.18
