pandas
pyjwt
simplejson
pydotplus
requests
pydantic
rdkit-pypi
mordred
scikit-learn
tqdm
kennard-stone
mendeleev
pymatgen
skl2onnx
onnxruntime

# Torch requirements
torch==2.3.0
torch-geometric==2.3.1
# TORCH - GEOMETRIC OPTIONAL DEPENDENCIES (KEEP IT LAST)
-f https://data.pyg.org/whl/torch-2.3.0+cpu.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
# pyg-lib
